{{partial 'navbar'}}
{{#if searchFlag}}
  <div class="container-fluid">
    <div class="row">
      {{partial 'sidebar'}}
      {{partial 'grid'}}
    </div>
  </div>
{{else}}
  <h1 class="text-center">Welcome to HistoriNews!</h1>
  <h2 class="text-center">Where your past is our present!</h2>
{{/if}}

{{outlet}}