<nav class="navbar navbar-inverse navbar-fixed-top">
  <!--<div class="container-fluid">-->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HistoriNews</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- Search Field Start -->
      <div class="col-lg-6 col-lg-offset-2 col-md-7 col-md-offset-1 col-sm-9 col-sm-offset-0 col-xs-12" id="search" role="search">
        <form id="search_bar_form" class="form navbar-form navbar-left" role="form">
          <div id="search_bar_group" class="input-group">
              {{#x-select value="all" id="search_bar_select" class="input-group-addon form-control" action="selectFilter"}}
                {{#x-option value="all"}}All{{/x-option}}
                {{#x-option value="articleTitle"}}Title{{/x-option}}
                {{#x-option value="authorName"}}Author{{/x-option}}
                {{#x-option value="newspaperName"}}Newspaper{{/x-option}}
                {{#x-option value="articleCreationDate"}}Date{{/x-option}}
                {{#x-option value="newspaperYear"}}Year{{/x-option}}
                {{#x-option value="keywords"}}Keywords{{/x-option}}
                {{#x-option value="ocrText"}}Article Content{{/x-option}}
            {{/x-select}}
            {{input id="search_bar_text" type="text" value=searchText class="form-control" placeholder="Enter something to search"}}
              <span class="input-group-btn">
                  <button class="btn btn-default no-border-left" type="submit" {{action 'search'}}>{{fa-icon icon="fa-search"}}</button>
              </span>
          </div>
        </form>
      </div>
      <!-- Search Field End -->

    </div><!-- /.navbar-collapse -->
  <!--</div>--><!-- /.container-fluid -->
</nav>

{{!--#if searchFlag --}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1 sidebar"> <!-- Custom css in app.css -->
        <ul class="nav nav-sidebar"> <!-- Custom css in app.css -->
          <div class="container-fluid">
          	<h3>Refine By</h3>
            <li><strong>Year</strong></li>
            <div>
              {{bootstrap-datepicker autoclose=true startDate="01/01/1900" startView="decade" placeholder="Start Date" class="form-control"}}
              {{bootstrap-datepicker autoclose=true startDate="01/01/1900" startView="decade" placeholder="End Date" class="form-control"}}
              <span class="input-group-btn">
                  <button class="btn btn-default no-border-left" type="submit" {{action 'find_by_year'}}>Search</button>

              </span>
              <br>
            </div>

            <li><strong>Keywords</strong></li>
            <div>
            <form role="form">
			  {{#each articles as |article|}}
			  <div class="checkbox">
			    <label><input type="checkbox" value={{article.keywords}}>{{article.keywords}}</label>
			  </div>
			  {{/each}}
			</form>
            </div>
          </div>
        </ul>
      </div>

      <div class="col-sm-11 col-sm-offset-1">
        <div class="row">
          {{#render-grid}}
          <div class="container-fluid">
            <div class="row">
              <div class="list-grid-well well well-sm">
                <div class="btn-group">
                  <a href="#" id="list" class="btn btn-default btn-sm pull-right">{{fa-icon icon="fa-bars"}} List</a>
                  <a href="#" id="grid" class="btn btn-default btn-sm pull-right">{{fa-icon icon="fa-th"}} Grid</a>
                </div>
              </div>
            </div>
            <div id="products" class="row list-group">
              {{#each articles as |article|}}
                <div class="item  col-xs-12 col-sm-4 col-md-3">
                  <div class="thumbnail">
                    <img class="image-thumbnail group list-group-image " src={{article.thumb}} alt="No Preview Available" />
                    <div class="caption">
                      <h3 class="group inner list-group-item-heading">
                        {{article.articleTitle}}</h3>
                      <p class="group inner list-group-item-text">
                        {{article.newspaperName}}<br/>
                        Author: {{article.authorName}}<br/>
                        Date: {{moment-format article.articleCreationDate 'MMMM Do, YYYY'}}</p>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <p class="lead">
                            Keywords</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <p>{{article.keywords}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
          {{/render-grid}}
        </div>
      </div>

    </div>
  </div>
{{!--else}}
  <h1>Splash Page</h1>
{{/if --}}

{{outlet}}