<div class="col-sm-11 col-sm-offset-1">
  <div class="row">
    {{#render-grid}}
    <div class="container-fluid">
      <div class="row">
        <div class="list-grid-well well well-sm">
          <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm pull-right">{{fa-icon icon="fa-bars"}} List</a>
            <a href="#" id="grid" class="btn btn-default btn-sm pull-right">{{fa-icon icon="fa-th"}} Grid</a>
          </div>
        </div>
      </div>
      <div id="products" class="row list-group">
        {{#each articles as |article|}}
          <div class="item col-xs-12 col-sm-4 col-md-3">
            <div class="thumbnail">
              <img class="image-thumbnail group list-group-image " src={{article.thumb}} alt="No Preview Available" />
              <div class="caption">
                <h3 class="group inner list-group-item-heading">
                  {{article.articleTitle}}</h3>
                <p class="group inner list-group-item-text">
                  {{article.newspaperName}}<br/>
                  Author: {{article.authorName}}<br/>
                  Date: {{moment-format article.articleCreationDate 'MMMM Do, YYYY'}}</p>
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <p class="lead">
                      Keywords</p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <p>{{article.keywords}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{/render-grid}}
  </div>
</div>