<div class="col-sm-11 col-sm-offset-1">
  <div class="row">
    {{#render-grid}}
    <div class="container-fluid">
      <div class="row">
        <div class="list-grid-well well well-sm">
          <div class="btn-group">
              <button id="grid" class="btn btn-default btn-sm">{{fa-icon icon="fa-th"}}</button>
              <button id="list" class="btn btn-default btn-sm">{{fa-icon icon="fa-bars"}}</button>
          </div>
          <div class="sort-dropdown pull-right">
            Sort by
          {{#x-select value="newspaperTitle" action="selectSort"}}
                {{#x-option value="newspaperTitle"}}Title{{/x-option}}
                {{#x-option value="authorName"}}Author{{/x-option}}
                {{#x-option value="newspaperName"}}Newspaper{{/x-option}}
                {{#x-option value="newspaperCreationDate"}}Date{{/x-option}}
                {{#x-option value="newspaperYear"}}Year{{/x-option}}
            {{/x-select}}
          </div>
        </div>
      </div>
      <div id="products" class="row list-group">
        {{#each pagedNewsPapers as |newspaper|}}
          <div class="item col-xs-12 col-sm-4 col-md-3">
            <div class="thumbnail">
              <img class="image-thumbnail group list-group-image " src={{newspaper.thumb}} alt="No Preview Available" />
              <div class="caption">
                <h3 class="group inner list-group-item-heading">
                  {{newspaper.newspaperTitle}}</h3>
                <p class="group inner list-group-item-text">
                  {{newspaper.newspaperName}}<br/>
                  Author: {{newspaper.authorName}}<br/>
                  Date: {{moment-format newspaper.newspaperCreationDate 'MMMM Do, YYYY'}}</p>
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <p class="lead">
                      Keywords</p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <p>{{newspaper.keywords}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{/render-grid}}
  </div>
  <div class="text-center">
    {{page-numbers content=pagedNewsPapers showFL=true}}
  </div>
</div>